services:
  database:
    container_name: database
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "8002:1433"
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: ${SA_PASSWORD}
      MSSQL_PID: Developer 
    volumes:
      - db_data:/var/opt/mssql # Baza danych dopoki nie zostanie usuniety volume
    healthcheck:  # Health check dla pewnosci ze DB jest gotowa
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "${SA_PASSWORD}" -Q "SELECT 1" -C || exit 1
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  backend:
    container_name: backend
    image: mcr.microsoft.com/dotnet/sdk:9.0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      # Montowanie plikow rozwiazania
      - ./AlgoRhythm:/src/AlgoRhythm:rw
      - ./AlgoRhythm.Shared:/src/AlgoRhythm.Shared:rw
      - ./CodeExecutor:/src/CodeExecutor:rw
      # Wylaczenie folderow build
      - /src/AlgoRhythm/bin
      - /src/AlgoRhythm/obj
      - /src/AlgoRhythm.Shared/bin
      - /src/AlgoRhythm.Shared/obj
      - nuget-cache:/root/.nuget/packages
    working_dir: /src/AlgoRhythm
    ports:
      - "7062:8080"
      - "5289:8081"
    command: ["dotnet", "run", "--project", "AlgoRhythm.csproj", "--urls", "http://+:8080"]
    environment:
      SendGrid__ApiKey: ${SENDGRID_API_KEY}
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      JWT_KEY: ${JWT_KEY}
      ConnectionStrings__DefaultConnection: ${CONNECTION_STRING}
      DOTNET_USE_POLLING_FILE_WATCHER: "false"
      AzureStorage__ConnectionString: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;"
      CODE_EXECUTOR_URL: ${CODE_EXECUTOR_URL}
      FRONTEND_URL: ${FRONTEND_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
    depends_on:
      database:
        condition: service_healthy
      azurite: 
        condition: service_started
    networks:
      - internal_net # Dla testowania security -> siec do executora
      - default  
    
    restart: unless-stopped

  frontend:
    container_name: frontend
    build:
        context: ../../Frontend/AlgoRhythm
        dockerfile:  Dockerfile
        target: build
        cache_from:
        - algorhythm-frontend:latest
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5173"]
    ports:
      - "5173:5173"
    volumes:
      - ../../Frontend/AlgoRhythm:/app:rw  # Mapowanie kodu do folderu roboczego w kontenerze
      - /app/node_modules               # Uzywa node_modules z kontenera, a nie z Windowsa
      - vite-cache:/app/.vite
      - /app/dist
    environment:
      CHOKIDAR_USEPOLLING: true        # Wymusza odswiezanie na Windows/Dockerze
      VITE_HOST: 0.0.0.0
    depends_on: 
      backend:
        condition: service_healthy
    networks:
      - default  
      - internal_net

  executor:
    build: 
      context: .
      dockerfile: ./CodeExecutor/Dockerfile
    networks:
     - internal_net
    read_only: true
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    tmpfs:
      - /tmp:size=50M,mode=1777,noexec,nosuid,nodev
      - /app/temp:size=20M,mode=1777
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    restart: unless-stopped
    cpus: "0.5"
    mem_limit: 256M
    pids_limit: 50
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 3s
      retries: 3
  azurite:
    container_name: azurite
    image: mcr.microsoft.com/azure-storage/azurite
    restart: unless-stopped
    ports:
      - "10010:10000" # Blob Storage
    command: 'azurite --loose --blobHost 0.0.0.0 --blobPort 10000 --location /data --debug /data/debug.log'
    volumes:
      # Lokalny folder do przechowywania danych Azurite
      - azurite_data:/data
    networks:
      - default
  analyzer:
    container_name: code_analyzer
    build: 
      context: .
      dockerfile: ./CodeAnalyzer/Dockerfile
    ports:
    - "5095:8080"
    environment:
      FRONTEND_URL: ${FRONTEND_URL}
    restart: unless-stopped

  visualizer:
    container_name: visualizer
    build: 
      context: .
      dockerfile: ./VisualizerService/Dockerfile
    ports:
    - "5148:8080"
    environment:
      FRONTEND_URL: ${FRONTEND_URL}
    restart: unless-stopped
  executor-lb:
    container_name: executor_load_balancer
    image: nginx:alpine
    volumes:
      - ./nginx-executor-lb.conf:/etc/nginx/nginx.conf:ro
    networks:
     - internal_net
    depends_on:
      - executor
    ports:
    - "8888:80"
networks:
  internal_net:
    driver: bridge
    internal: true

volumes:
  db_data:                  
  nuget-cache:  
    name: algorhythm_nuget_cache
  vite-cache:
    name: algorhythm_vite_cache 
  azurite_data:              
