services:
  database:
    container_name: database
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
    - "8002:1433" # default mssql server port
    environment:
    - ACCEPT_EULA=Y
    - SA_PASSWORD=${MSSQL_SA_PASSWORD}
    volumes:
    - db_data:/var/opt/mssql # database lives as long as the image is not deleted
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: AlgoRhythm/Dockerfile
      target: final
    ports:
    - "7062:8080"
    - "5289:8081"
    environment:
    - ASPNETCORE_URLS=http://+:8080
    - ConnectionStrings__DefaultConnection=Server=database,1433;Database=MyDb;User Id=sa;Password=${MSSQL_SA_PASSWORD};
    depends_on:
    - database
  frontend:
    container_name: frontend
    build:
        context: ../../frontend/AlgoRhythm
        dockerfile:  Dockerfile
    ports:
    - "5173:80"
    depends_on: 
    - backend
volumes:
  db_data: